@font-face {
	font-family: 'norsebold';
	src:
		url('../assets/fonts/norse-bold-webfont.woff2') format('woff2'),
		url('../assets/fonts/norse-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

:root {
	--roboto: 'Roboto', sans-serif;
	--system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--main-padding-left: 40px;
	--green: #596d48;
	--green-hover: #61774f;
}

html {
	box-sizing: border-box;
}

body {
	font-family: var(--roboto), var(--system-ui);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.fs-3 {
	font-size: 1.17rem;
}

.fs-6 {
	font-size: 0.67rem;
}

.fw-medium {
	font-weight: 500;
}

.italic {
	font-style: italic;
}

.my-0 {
	margin: 0;
}

.mb-2 {
	margin-bottom: 8px;
}

.mb-4 {
	margin-bottom: 24px;
}

.bg-gray {
	background-color: #f9fafb;
}

img {
	max-width: 100%;
}

.container {
	height: 100vh;
	display: flex;
}

.header {
	flex: 3;
	background-image: url('../assets/images/bg.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.logo-and-text-container {
	padding: 10px;
	background-color: rgb(0, 0, 0, 0.4);
	margin-top: 30%;
	margin-bottom: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-container {
	max-width: 80px;
}

.logo-text {
	font-family: norsebold;
	font-size: 4rem;
	color: #fff;
}

.bg-credit-text {
	color: #fff;
	text-align: center;
}

.bg-credit-text a {
	color: inherit;
}

.bg-credit-text a:hover {
	color: #999;
	text-decoration: none;
}

.main {
	flex: 7;
}

.main-top {
	padding: 80px 20% 30px var(--main-padding-left);
}

.main-center {
	padding: 20px 0 30px var(--main-padding-left);
	background-color: #fff;
	box-shadow: 0px 3px 8px 0px rgb(0, 0, 0, 0.1);
}

.sign-up-form {
	gap: 20px 50px;
	display: flex;
	flex-wrap: wrap;
}

.form-row {
	flex-basis: 30%;
	row-gap: 2px;
	display: flex;
	flex-direction: column;
}

label {
	text-transform: uppercase;
	color: #1f2937;
	font-weight: 500;
	letter-spacing: 1px;
}

input {
	padding: 6px 12px;
	border: 1px solid #e5e7eb;
	border-radius: 4px;
}

input:focus {
	outline-color: #7e9ae8;
	box-shadow: 2px 2px 5px 0px rgb(0, 0, 0, 0.1);
}

.main-bottom {
	padding: 30px 0 0 var(--main-padding-left);
}

.sign-up-form-submit-btn {
	font-size: 1.1rem;
	font-weight: 500;
	color: #fff;
	padding: 8px 30px;
	background-color: var(--green);
	border: 0;
	border-radius: 5px;
}

.sign-up-form-submit-btn:hover {
	cursor: pointer;
	background-color: var(--green-hover);
}

.ask-account {
	margin: 20px 0 0 0;
}

.ask-account a {
	color: var(--green);
	font-weight: 500;
	text-decoration: none;
}

.ask-account a:hover {
	color: var(--green-hover);
	text-decoration: underline;
}
